// Theme colors
$color-primary: #33acb3;
$color-background: #ffffff;
$color-content: #1a181b;
$color-header: #282828;

// Literal colors
$color-blue: #4568C0;
$color-red: #FF4C47;
$color-green: #39CC6B;